---

---

<button
  class="flex items-center gap-2 border border-zinc-800 dark:bg-zinc-900 p-2 rounded-2xl dark:hover:bg-zinc-800 dark:hover:border-zinc-700"
>
  <slot name="icon" />
  <slot />
</button>
