---
import data from "./Navbar.json";
---

<nav
  class="sticky top-1 flex rounded-lg lg:gap-4 bg-white dark:bg-zinc-900 border dark:border-zinc-700 dark:text-white font-medium justify-center self-center text-xs lg:text-base px-4"
>
  <div id="navbar-area" class="w-96 z-10 absolute top-10 h-10 self-center">
  </div>
  {
    data.map((item) => (
      <a href={item.url} class="p-2 ">
        {item.name}
      </a>
    ))
  }
</nav>

<style>
  nav {
    translate: 0 -35px;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  }

  nav:has(#navbar-area):hover {
    translate: 0 10px;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
</style>
