<div class="bg-zinc-900 text-zinc-400 p-8 rounded-lg shadow-md mb-10">
  <h2 class="text-3xl font-bold mb-8">Let's work together!</h2>

  <div class="my-4 flex gap-5">
    <img src="/maikol-2.jpg" class="w-32 h-32 object-cover rounded-lg" alt="" />
    <a
      href="mailto:maikoljob30@gmail.com"
      target="_blank"
      class="inline-block self-end border border-zinc-800 dark:bg-zinc-900 px-3 py-2 rounded-2xl dark:hover:bg-zinc-800 dark:hover:border-zinc-700"
    >
      Contact Me
    </a>
  </div>
</div>
