---
import data from "./Experience.json";
const { language } = Astro.props;
---

<section id="experience" class="mb-10">
  <h1 class="text-3xl font-thin text-zinc-300 mb-10">{data[language].title}</h1>
  {
    data[language].experiences.map((item) => (
      <article class="flex flex-col gap-4 mb-20">
        <h1 class="text-2xl text-balance">{item.title}</h1>
        <div
          class="text-lg text-pretty leading-7 flex gap-2 flex-col text-zinc-400"
          set:html={item.description}
        />
      </article>
    ))
  }
</section>
<style>
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #experience {
    view-timeline-name: --project;
    view-timeline-axis: block;
    animation-timeline: --project;
    animation-name: show;
    animation-range: entry 5% cover 20%;
  }
</style>
