---
interface Props {
  title: string;
}

import "@fontsource-variable/onest";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative dark:bg-neutral-950 dark:text-gray-50 bg-gray-100">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-100 dark:bg-neutral-950
	bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(117,216,255,0.5),rgba(255,255,255,0.9))]
	dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(100,50,255,0.3),rgba(100,255,255,0))]"
    >
    </div>
    <div class="container px-4 flex flex-col lg:w-2/3 mx-auto">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    font-family: "Onest Variable", sans-serif;
  }
</style>
