---
interface Props {
  title: string;
}

import "@fontsource-variable/onest";
import { SEO } from "astro-seo";
import Flare from "../components/Flare.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title="maikol aguilar | portfolio"
      description=" maikol aguilar portfolio to show my work"
      openGraph={{
        basic: {
          title: "maikol aguilar portfolio to show my work",
          type: "website",
          image: "/opengraph.png",
        },
      }}
      twitter={{
        creator: "@maikolaguilar11",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],

        meta: [
          {
            name: "twitter:image",
            content: "/opengraph.png",
          },
          { name: "twitter:title", content: "maikol aguilar" },
          {
            name: "twitter:description",
            content: "personal portfolio 2024 of maikol aguilar",
          },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative dark:bg-neutral-950 dark:text-gray-50 bg-gray-100">
    <div
      style='width: 100%; height: 100%; background-size: 128px; background-repeat: repeat; background-image: url("https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png"); opacity: 0.03; border-radius: 0px;'
      class="absolute top-0 z-[-1]"
    >
    </div>
    <Flare />
    <div class="container px-4 flex flex-col lg:w-2/3 mx-auto">
      <slot />
    </div>
    <style>
      body {
        font-family: "Onest Variable", sans-serif;
      }
    </style>
  </body>
</html>
